@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Montserrat;
        font-weight: 700;
    }
}

#app {
    @apply w-full relative
}

body {
    @apply overflow-x-hidden min-h-screen sm:overflow-y-hidden
}

.text-stroke {
    -webkit-text-stroke: 4px #5029de;
    paint-order: stroke fill;
}

button:hover,
a:hover,
button:active {
    @apply sm:transition-[all_.2s_ease-in-out] sm:hover:scale-[.97] sm:hover:brightness-[.9] max-sm:bg-[#5029dea8]
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-down-enter-active {
    animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}